In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# BigQuery
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client(project="project='TC-DA-1")

In [3]:
# Construct a reference to the "Adventure work 2005" dataset
dataset_ref = client.dataset("adwentureworks_db", project="tc-da-1")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [4]:
def query_to_df(query):
    # transfers query results to pandas dataframe for easy manipulating
    return(client.query(query, project="tc-da-1").result().to_dataframe())

def get_schema(table):
    # retreives the schema as a printed object
    return(client.get_table(table).schema)

In [5]:
# List all the tables in the  dataset
tables = list(client.list_tables(dataset_ref))
print(f"There are {len(tables)} tables in the dataset")
# Print names of all tables in the dataset 
for table in tables:  
    print(table.table_id)

There are 65 tables in the dataset
EmployeeDepartmentHistory
address
addresstype
billofmaterials
contact
contactcreditcard
contacttype
countryregion
countryregioncurrency
creditcard
culture
currency
currencyrate
customer
customeraddress
department
document
employee
employeeaddress
employeedepartmenthistory
employeepayhistory
individual
location
product
productcategory
productcosthistory
productdescription
productdocument
productinventory
productlistpricehistory
productmodel
productmodelillustration
productmodelproductdescriptionculture
productphoto
productproductphoto
productreview
productsubcategory
productvendor
purchaseorderdetail
purchaseorderheader
salesorderdetail
salesorderheader
salesorderheadersalesreason
salesperson
salespersonquotahistory
salesreason
salestaxrate
salesterritory
salesterritoryhistory
scrapreason
shift
shipmethod
shoppingcartitem
specialoffer
specialofferproduct
stateprovince
storecontact
transactionhistory
transactionhistoryarchive
unitmeasure
vendor
vendoraddress
vendorcontact
workorder
workorderrouting

In [6]:
for table in tables:
    print(f"{table.table_id}: {get_schema(f'tc-da-1.adwentureworks_db.{table.table_id}')}")

EmployeeDepartmentHistory: [SchemaField('EmployeeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('DepartmentID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ShiftID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('StartDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('EndDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
address: [SchemaField('AddressID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('AddressLine1', 'STRING', 'NULLABLE', None, (), None), SchemaField('AddressLine2', 'STRING', 'NULLABLE', None, (), None), SchemaField('City', 'STRING', 'NULLABLE', None, (), None), SchemaField('StateProvinceID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('PostalCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
addresstype: [SchemaField('AddressTypeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
billofmaterials: [SchemaField('BillOfMaterialsID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductAssemblyID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ComponentID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('StartDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('EndDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('UnitMeasureCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('BOMLevel', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('PerAssemblyQty', 'NUMERIC', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
contact: [SchemaField('ContactId', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Title', 'STRING', 'NULLABLE', None, (), None), SchemaField('Firstname', 'STRING', 'NULLABLE', None, (), None), SchemaField('MiddleName', 'STRING', 'NULLABLE', None, (), None), SchemaField('LastName', 'STRING', 'NULLABLE', None, (), None), SchemaField('Suffix', 'STRING', 'NULLABLE', None, (), None), SchemaField('Emailaddress', 'STRING', 'NULLABLE', None, (), None), SchemaField('EmailPromotion', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Phone', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
contactcreditcard: [SchemaField('ContactID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('CreditCardID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
contacttype: [SchemaField('ContactTypeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
countryregion: [SchemaField('CountryRegionCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
countryregioncurrency: [SchemaField('CountryRegionCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('CurrencyCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
creditcard: [SchemaField('CreditCardID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('CardType', 'STRING', 'NULLABLE', None, (), None), SchemaField('CardNumber', 'STRING', 'NULLABLE', None, (), None), SchemaField('ExpMonth', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ExpYear', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
culture: [SchemaField('CultureID', 'STRING', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
currency: [SchemaField('CurrencyCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
currencyrate: [SchemaField('CurrencyRateID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('CurrencyRateDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('FromCurrencyCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('ToCurrencyCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('AverageRate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('EndOfDayRate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
customer: [SchemaField('CustomerID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('TerritoryID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('AccountNumber', 'STRING', 'NULLABLE', None, (), None), SchemaField('CustomerType', 'STRING', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
customeraddress: [SchemaField('CustomerID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('AddressID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('AddressTypeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
department: [SchemaField('DepartmentID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('GroupName', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
document: [SchemaField('DocumentID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Title', 'STRING', 'NULLABLE', None, (), None), SchemaField('FileName', 'STRING', 'NULLABLE', None, (), None), SchemaField('FileExtension', 'STRING', 'NULLABLE', None, (), None), SchemaField('Revision', 'STRING', 'NULLABLE', None, (), None), SchemaField('ChangeNumber', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Status', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('DocumentSummary', 'STRING', 'NULLABLE', None, (), None), SchemaField('Document', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
employee: [SchemaField('EmployeeId', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('NationalIDNumber', 'STRING', 'NULLABLE', None, (), None), SchemaField('ContactID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('LoginID', 'STRING', 'NULLABLE', None, (), None), SchemaField('ManagerID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Title', 'STRING', 'NULLABLE', None, (), None), SchemaField('BirthDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('MaritalStatus', 'STRING', 'NULLABLE', None, (), None), SchemaField('Gender', 'STRING', 'NULLABLE', None, (), None), SchemaField('HireDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('SalariedFlag', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('VacationHours', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('SickLeaveHours', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('CurrentFlag', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
employeeaddress: [SchemaField('EmployeeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('AddressID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
employeedepartmenthistory: [SchemaField('EmployeeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('DepartmentID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ShiftID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('StartDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('EndDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
employeepayhistory: [SchemaField('EmployeeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('RateChangeDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('Rate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('PayFrequency', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
individual: [SchemaField('CustomerID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ContactID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Demographics', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
location: [SchemaField('LocationID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('CostRate', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('Availability', 'NUMERIC', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
product: [SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('ProductNumber', 'STRING', 'NULLABLE', None, (), None), SchemaField('MakeFlag', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('FinishedGoodsFlag', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Color', 'STRING', 'NULLABLE', None, (), None), SchemaField('SafetyStockLevel', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ReorderPoint', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('StandardCost', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('ListPrice', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('Size', 'STRING', 'NULLABLE', None, (), None), SchemaField('SizeUnitMeasureCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('WeightUnitMeasureCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('Weight', 'NUMERIC', 'NULLABLE', None, (), None), SchemaField('DaysToManufacture', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductLine', 'STRING', 'NULLABLE', None, (), None), SchemaField('Class', 'STRING', 'NULLABLE', None, (), None), SchemaField('Style', 'STRING', 'NULLABLE', None, (), None), SchemaField('ProductSubcategoryID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductModelID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('SellStartDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('SellEndDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('DiscontinuedDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productcategory: [SchemaField('ProductCategoryID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productcosthistory: [SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('StartDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('EndDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('StandardCost', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productdescription: [SchemaField('ProductDescriptionID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Description', 'STRING', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productdocument: [SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('DocumentID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productinventory: [SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('LocationID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Shelf', 'STRING', 'NULLABLE', None, (), None), SchemaField('Bin', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Quantity', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productlistpricehistory: [SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('StartDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('EndDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('ListPrice', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productmodel: [SchemaField('ProductModelID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('CatalogDescription', 'STRING', 'NULLABLE', None, (), None), SchemaField('Instructions', 'STRING', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productmodelillustration: [SchemaField('ProductModelID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('IllustrationID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productmodelproductdescriptionculture: [SchemaField('ProductModelID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductDescriptionID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('CultureID', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productphoto: [SchemaField('ProductPhotoID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ThumbNailPhoto', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ThumbnailPhotoFileName', 'STRING', 'NULLABLE', None, (), None), SchemaField('LargePhoto', 'BYTES', 'NULLABLE', None, (), None), SchemaField('LargePhotoFileName', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productproductphoto: [SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductPhotoID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productreview: [SchemaField('ProductReviewID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ReviewerName', 'STRING', 'NULLABLE', None, (), None), SchemaField('ReviewDate', 'TIMESTAMP', 'NULLABLE', None, (), None), SchemaField('EmailAddress', 'STRING', 'NULLABLE', None, (), None), SchemaField('Rating', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Comments', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productsubcategory: [SchemaField('ProductSubcategoryID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductCategoryID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Name', 'STRING', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
productvendor: [SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('VendorID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('AverageLeadTime', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('StandardPrice', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('LastReceiptCost', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('LastReceiptDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('MinOrderQty', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('MaxOrderQty', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('OnOrderQty', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('UnitMeasureCode', 'STRING', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
purchaseorderdetail: [SchemaField('PurchaseOrderID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('PurchaseOrderDetailID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('DueDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('OrderQty', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('UnitPrice', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('LineTotal', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('ReceivedQty', 'NUMERIC', 'NULLABLE', None, (), None), SchemaField('RejectedQty', 'NUMERIC', 'NULLABLE', None, (), None), SchemaField('StockedQty', 'NUMERIC', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]
purchaseorderheader: [SchemaField('PurchaseOrderID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('RevisionNumber', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('Status', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('EmployeeID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('VendorID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ShipMethodID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('OrderDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('ShipDate', 'DATETIME', 'NULLABLE', None, (), None), SchemaField('SubTotal', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('TaxAmt', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('Freight', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('TotalDue', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'DATETIME', 'NULLABLE', None, (), None)]
salesorderdetail: [SchemaField('SalesOrderID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('SalesOrderDetailID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('CarrierTrackingNumber', 'STRING', 'NULLABLE', None, (), None), SchemaField('OrderQty', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('ProductID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('SpecialOfferID', 'INTEGER', 'NULLABLE', None, (), None), SchemaField('UnitPrice', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('UnitPriceDiscount', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('LineTotal', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('rowguid', 'BYTES', 'NULLABLE', None, (), None), SchemaField('ModifiedDate', 'TIMESTAMP', 'NULLABLE', None, (), None)]

In [7]:
 QUERY = (
     """
SELECT p.ProductId, p.Name, p.ProductNumber, p.size, p.color, p.ProductSubcategoryId, s.Name AS SubcategoryName
FROM `tc-da-1.adwentureworks_db.product`AS p
INNER JOIN `tc-da-1.adwentureworks_db.productsubcategory` AS s 
ON p.ProductSubcategoryId=s.ProductSubcategoryId
ORDER BY s.Name 
     """
 )
    
query_to_df(QUERY)

,ProductId,Name,ProductNumber,size,color,ProductSubcategoryId,SubcategoryName
0,855,"Men's Bib-Shorts, S",SB-M891-S,S,Multi,18,Bib-Shorts
1,857,"Men's Bib-Shorts, L",SB-M891-L,L,Multi,18,Bib-Shorts
2,856,"Men's Bib-Shorts, M",SB-M891-M,M,Multi,18,Bib-Shorts
3,876,Hitch Rack - 4-Bike,RA-H123,None,None,26,Bike Racks
4,879,All-Purpose Bike Stand,ST-1401,None,None,27,Bike Stands
...,...,...,...,...,...,...,...
290,828,HL Road Rear Wheel,RW-R820,None,Black,17,Wheels
291,823,LL Mountain Rear Wheel,RW-M423,None,Black,17,Wheels
292,824,ML Mountain Rear Wheel,RW-M762,None,Black,17,Wheels
293,825,HL Mountain Rear Wheel,RW-M928,None,Black,17,Wheels
294,826,LL Road Rear Wheel,RW-R623,None,Black,17,Wheels

In [8]:
QUERY = (
     """
SELECT p.ProductId, p.Name, p.ProductNumber, p.size, p.color, p.ProductSubcategoryId, s.Name AS SubCategory, c.Name AS Category
FROM ((`tc-da-1.adwentureworks_db.product`AS p
INNER JOIN `tc-da-1.adwentureworks_db.productsubcategory` AS s
ON p.ProductSubcategoryId=s.ProductSubcategoryId)
INNER JOIN `tc-da-1.adwentureworks_db.productcategory` AS c
ON s.ProductCategoryId=c.ProductCategoryId)
ORDER BY c.Name
     """
 )
    
query_to_df(QUERY)

,ProductId,Name,ProductNumber,size,color,ProductSubcategoryId,SubCategory,Category
0,711,"Sport-100 Helmet, Blue",HL-U509-B,None,Blue,31,Helmets,Accessories
1,707,"Sport-100 Helmet, Red",HL-U509-R,None,Red,31,Helmets,Accessories
2,708,"Sport-100 Helmet, Black",HL-U509,None,Black,31,Helmets,Accessories
3,880,Hydration Pack - 70 oz.,HY-1023-70,70,Silver,32,Hydration Packs,Accessories
4,846,Taillights - Battery-Powered,LT-T990,None,None,33,Lights,Accessories
...,...,...,...,...,...,...,...,...
290,824,ML Mountain Rear Wheel,RW-M762,None,Black,17,Wheels,Components
291,825,HL Mountain Rear Wheel,RW-M928,None,Black,17,Wheels,Components
292,826,LL Road Rear Wheel,RW-R623,None,Black,17,Wheels,Components
293,894,Rear Derailleur,RD-2308,None,Silver,9,Derailleurs,Components
294,907,Rear Brakes,RB-9231,None,Silver,6,Brakes,Components

In [9]:
     
      QUERY = (
     """
SELECT
 p.ProductId,
 p.Name,
 p.ProductNumber,
 p.size,
 p.color,
 p.ProductSubcategoryId, 
 s.Name AS SubCategory,
 c.Name AS Category,
 p.ListPrice AS Price
FROM `tc-da-1.adwentureworks_db.product`AS p
INNER JOIN `tc-da-1.adwentureworks_db.productsubcategory` AS s
ON p.ProductSubcategoryId=s.ProductSubcategoryId
INNER JOIN `tc-da-1.adwentureworks_db.productcategory` AS c
ON s.ProductCategoryId=c.ProductCategoryId
WHERE p.ListPrice>2000 AND p.SellEndDate IS NULL
ORDER BY Price
    
     """
 )
    
query_to_df(QUERY)

,ProductId,Name,ProductNumber,size,color,ProductSubcategoryId,SubCategory,Category,Price
0,784,"Mountain-200 Black, 46",BK-M68B-46,46,Black,1,Mountain Bikes,Bikes,2294.99
1,782,"Mountain-200 Black, 38",BK-M68B-38,38,Black,1,Mountain Bikes,Bikes,2294.99
2,783,"Mountain-200 Black, 42",BK-M68B-42,42,Black,1,Mountain Bikes,Bikes,2294.99
3,779,"Mountain-200 Silver, 38",BK-M68S-38,38,Silver,1,Mountain Bikes,Bikes,2319.99
4,780,"Mountain-200 Silver, 42",BK-M68S-42,42,Silver,1,Mountain Bikes,Bikes,2319.99
5,781,"Mountain-200 Silver, 46",BK-M68S-46,46,Silver,1,Mountain Bikes,Bikes,2319.99
6,956,"Touring-1000 Yellow, 54",BK-T79Y-54,54,Yellow,3,Touring Bikes,Bikes,2384.07
7,957,"Touring-1000 Yellow, 60",BK-T79Y-60,60,Yellow,3,Touring Bikes,Bikes,2384.07
8,968,"Touring-1000 Blue, 54",BK-T79U-54,54,Blue,3,Touring Bikes,Bikes,2384.07
9,967,"Touring-1000 Blue, 50",BK-T79U-50,50,Blue,3,Touring Bikes,Bikes,2384.07
10,955,"Touring-1000 Yellow, 50",BK-T79Y-50,50,Yellow,3,Touring Bikes,Bikes,2384.07
11,954,"Touring-1000 Yellow, 46",BK-T79Y-46,46,Yellow,3,Touring Bikes,Bikes,2384.07
12,969,"Touring-1000 Blue, 60",BK-T79U-60,60,Blue,3,Touring Bikes,Bikes,2384.07
13,966,"Touring-1000 Blue, 46",BK-T79U-46,46,Blue,3,Touring Bikes,Bikes,2384.07
14,796,"Road-250 Black, 58",BK-R89B-58,58,Black,2,Road Bikes,Bikes,2443.35
15,795,"Road-250 Black, 52",BK-R89B-52,52,Black,2,Road Bikes,Bikes,2443.35
16,792,"Road-250 Red, 58",BK-R89R-58,58,Red,2,Road Bikes,Bikes,2443.35
17,794,"Road-250 Black, 48",BK-R89B-48,48,Black,2,Road Bikes,Bikes,2443.35
18,793,"Road-250 Black, 44",BK-R89B-44,44,Black,2,Road Bikes,Bikes,2443.35

In [10]:
     
QUERY = (
     """
SELECT LocationID,
COUNT( DISTINCT WorkOrderID) AS no_of_workorder,
COUNT( DISTINCT ProductID) as no_of_product, 
SUM(ActualCost) AS total_actual_cost,
FROM `tc-da-1.adwentureworks_db.workorderrouting` 
WHERE ActualStartDate BETWEEN '2004-01-01'AND '2004-01-31'
GROUP BY  LocationID
ORDER BY total_actual_cost DESC
   
     """
 )
    
query_to_df(QUERY)

   LocationID  no_of_workorder  no_of_product  total_actual_cost
0          50             1304             48           47922.00
1          60              957             77           46893.00
2          10              409             18           37730.25
3          20              284             14           24850.00
4          40               48              3            1512.00
5          30               79              6            1145.50
6          45               31              3            1116.00

In [11]:
     
QUERY = (
     """
SELECT l.Name,
COUNT( DISTINCT w.WorkOrderID) AS no_of_workorder,
COUNT( DISTINCT w.ProductID) as no_of_product, 
SUM(w.ActualCost) AS total_actual_cost,
ROUND(AVG(DATE_DIFF(w.ActualEndDate, w.ActualStartDate, DAY)),2) AS avg_days_diff
FROM `tc-da-1.adwentureworks_db.workorderrouting` AS w
INNER JOIN `tc-da-1.adwentureworks_db.location` AS l
ON l.LocationID=w.LocationID
WHERE w.ActualStartDate BETWEEN '2004-01-01'AND '2004-01-31'
GROUP BY  l.Name
ORDER BY avg_days_diff DESC
   
     """
 )
    
query_to_df(QUERY)

,Name,no_of_workorder,no_of_product,total_actual_cost,avg_days_diff
0,Subassembly,1304,48,47922.00,11.59
1,Final Assembly,957,77,46893.00,11.46
2,Frame Forming,409,18,37730.25,11.43
3,Frame Welding,284,14,24850.00,11.31
4,Paint,48,3,1512.00,10.90
5,Debur and Polish,79,6,1145.50,10.61
6,Specialized Paint,31,3,1116.00,10.16

In [12]:
QUERY = (
     """
SELECT sales_detail.SalesOrderId
      ,sales_detail.OrderQty
      ,sales_detail.UnitPrice
      ,sales_detail.LineTotal
      ,sales_detail.ProductId
      ,sales_detail.SpecialOfferID
      ,spec_offer_product.ModifiedDate
      ,spec_offer.Category
      ,spec_offer.Description

FROM `tc-da-1.adwentureworks_db.salesorderdetail`  as sales_detail

left join `tc-da-1.adwentureworks_db.specialofferproduct` as spec_offer_product
on sales_detail.productId = spec_offer_product.ProductID

inner join `tc-da-1.adwentureworks_db.specialoffer` as spec_offer
on sales_detail.SpecialOfferID = spec_offer.SpecialOfferID

order by LineTotal desc
     """
 )
    
query_to_df(QUERY)

,SalesOrderId,OrderQty,UnitPrice,LineTotal,ProductId,SpecialOfferID,ModifiedDate,Category,Description
0,55282,26,1192.0350,27893.619000,954,4,2001-05-02 00:00:00+00:00,Reseller,Volume Discount 25 to 40
1,55282,26,1192.0350,27893.619000,954,4,2001-06-01 00:00:00+00:00,Reseller,Volume Discount 25 to 40
2,55282,26,1192.0350,27893.619000,954,4,2001-06-01 00:00:00+00:00,Reseller,Volume Discount 25 to 40
3,55282,26,1192.0350,27893.619000,954,4,2003-06-01 00:00:00+00:00,Reseller,Volume Discount 25 to 40
4,43884,14,1971.9942,27055.760424,772,2,2001-05-02 00:00:00+00:00,Reseller,Volume Discount 11 to 14
...,...,...,...,...,...,...,...,...,...
296978,53493,1,1.3740,1.374000,873,1,2001-06-01 00:00:00+00:00,No Discount,No Discount
296979,53526,1,1.3740,1.374000,873,1,2001-05-02 00:00:00+00:00,No Discount,No Discount
296980,53526,1,1.3740,1.374000,873,1,2001-06-01 00:00:00+00:00,No Discount,No Discount
296981,58981,1,1.3740,1.374000,873,1,2001-05-02 00:00:00+00:00,No Discount,No Discount
296982,58981,1,1.3740,1.374000,873,1,2001-06-01 00:00:00+00:00,No Discount,No Discount

In [13]:
     
QUERY = (
     """
SELECT  WorkOrderID,
SUM(ActualCost) AS actual_cost,
FROM `tc-da-1.adwentureworks_db.workorderrouting`
WHERE ActualStartDate BETWEEN '2004-01-01'AND '2004-01-31'
GROUP BY WorkOrderID
HAVING SUM(ActualCost)>300
ORDER BY actual_cost DESC
   
     """
 )
    
query_to_df(QUERY)

    WorkOrderID  actual_cost
0         54924        316.0
1         55688        316.0
2         53449        316.0
3         54269        316.0
4         55052        316.0
..          ...          ...
74        54842        311.5
75        52527        311.5
76        52502        311.5
77        53310        311.5
78        53326        311.5

[79 rows x 2 columns]

In [14]:
     
QUERY = (
     """
SELECT  vendor.VendorId as Id,
vendor_contact.ContactId,
vendor_contact.ContactTypeId,
vendor.Name,
vendor.CreditRating,
vendor.ActiveFlag,
vendor_address.AddressId,
address.City

#mispelled vendor as Vendor
FROM `tc-da-1.adwentureworks_db.vendor` AS vendor

#named table a but referred to it as vendor
LEFT JOIN `tc-da-1.adwentureworks_db.vendorcontact` AS vendor_contact 
ON vendor.VendorId = vendor_contact.VendorId

#named table c but referred to it as vendor address
LEFT JOIN `tc-da-1.adwentureworks_db.vendoraddress` AS vendor_address
ON vendor.VendorId = vendor_address.VendorId

#named table address but referred to it as d
#join on vendorid instead of AddressID
LEFT JOIN `tc-da-1.adwentureworks_db.address` AS address 
ON vendor_address.AddressID = address.AddressID
   
     """
 )
    
query_to_df(QUERY)

,Id,ContactId,ContactTypeId,Name,CreditRating,ActiveFlag,AddressId,City
0,95,693,18,Team Athletic Co.,1,1,394,Spokane
1,101,689,18,Touring Equipment Center,1,1,395,St. Louis
2,62,612,17,Training Systems,1,1,396,Burien
3,99,634,18,Marsh,1,1,371,Woodburn
4,100,690,2,Holiday Skate & Cycle,1,1,349,Lemon Grove
...,...,...,...,...,...,...,...,...
151,71,624,18,Vista Road Bikes,3,1,401,Salem
152,36,617,18,Recreation Place,4,1,385,Salem
153,84,694,19,"Proseware, Inc.",4,0,307,Lebanon
154,63,630,17,Merit Bikes,5,1,372,Bremerton
155,22,681,17,Victory Bikes,5,1,399,Issaquah